<div ng-controller="homeCtrl as home">
  <h2>Home Page: Welcome {{home.username}}</h2>
  <h2>
    <small>
      You have {{home.flashcards.length}} flashcards saved.
       <a href="#" ng-show="home.quizViewShown" ng-click="home.showNewView('edit-div')">Manage your cards.</a>
       <a href="#" ng-show="home.editViewShown" ng-click="home.showNewView('quiz-div')">Quiz Yourself!</a>
     </small>
  </h2>

  <br>
  <div id="quiz-div">
    <div class="row" style="display: inline">
      <div class="well col-sm-offset-3 col-sm-6 flashcard">
        <div class="text-center">
          <br>
          <br>
          <br>
          <br>
          <br>
          <p id="current-question" class="text-center" ng-show="home.questionDisplayed">{{home.currentQuestion}}</p>
          <p id="current-answer" class="text-center" ng-show="home.answerDisplayed">{{home.currentAnswer}}</p>
          <br>
          <button class="btn btn-info" ng-hide="home.flashcardDisplayed" ng-click="home.showQuestion()">Quiz Me!</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-warning" ng-show="home.questionDisplayed" ng-click="home.showAnswer()">Show Answer</button>
      <button class="btn btn-warning" ng-show="home.answerDisplayed" ng-click="home.showQuestion()">Show Next Question</button>
    </div>
  </div>
  <div id="edit-div" style="display: none">
    <table class="table">
      <tr>
        <th><input type="checkbox" id="check-all" ng-click="home.checkUncheckAll()"></th>
        <th>Question</th>
        <th>Answer</th>
      </tr>
      <tr ng-repeat="card in home.flashcards" ng-include="home.getTemplate(card)">

      </tr>
    </table>
    <div class="btn-group" ng-show="home.selected">
      <button class="btn btn-sm btn-success" ng-click="home.saveCards()">
        <span class="glyphicon glyphicon-ok"></span>
        Save Changes
      </button>
      <button class="btn btn-sm btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
        Cancel
      </button>
    </div>
    <button class="btn btn-danger" ng-show="home.selectedCount">Delete {{home.selectedCount}} row(s)</button>
  </div>

  <br>
  <br>
  <button class="btn btn-danger" ng-click="home.logout()">Log Out</button>
</div>
<script type="text/ng-template" id="display">
  <td><input type="checkbox" class="my-checkbox" ng-click="home.checkUncheck()"></td>
  <td ng-click="home.editCard(card)">{{card.question}}</td>
  <td ng-click="home.editCard(card)">{{card.answer}}</td>
</script>

<script type="text/ng-template" id="edit">
  <td><input type="checkbox" class="my-checkbox" ng-click="home.checkUncheck()"></td>
  <td><input type="text" class="form-control" ng-model="home.selected.question"/>
  <td><input type="text" class="form-control" ng-model="home.selected.answer"/>
</script>
