<div>
  <h2 class="text-center">Welcome to FlashKardz®</h2>
  <h2 class="text-center"><small>Please log in</small></h2>

  <br>

  <form>
    <div class="form-group row">
      <label for="my-username" class="col-sm-2 col-lg-1 col-lg-offset-2 col-form-label">Username</label>
      <div class="col-sm-8 col-lg-7">
        <input class="form-control" type="text" placeholder="Enter username" ng-model="loginCtrlData.loggedInUser.username" id="my-username">
      </div>
    </div>

    <div class="form-group row">
      <label for="my-password" class="col-sm-2 col-lg-1 col-lg-offset-2 col-form-label">Password</label>
      <div class="col-sm-8 col-lg-7">
        <input class="form-control" type="password" placeholder="Enter password" ng-model="loginCtrlData.loggedInUser.password" id="my-password">
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" ng-click="loginCtrlData.login(loginCtrlData.loggedInUser)">Log in</button>
    </div>

  </form>

</div>
